body {
    margin: 0 auto;
    font-family: 'Quicksand';
    /*background-color: #FEF1B5; /* buttermilk */
    /*background-color: #FFF8DC; /* cornsilk2 */
    background-color: #FFFACD; /*lemmonchiffon*/
  }

  #main-page-header {
    margin: 0 auto;
    position: relative;
    /*background: #EDCB62; /* golden delicious apple */
    background: #ffe680	;
    color: grey;
    overflow: hidden;
    /*font-family: sans-serif; */
    font-family: 'Quicksand';
    padding: 30px;
    padding-left: 45px;
    padding-right: 45px;
  }

  #image {
    /*width: 375px;
    height: 55px; */
    width: 650px;
    height: 100px;
  }

  .header a {
    margin: 0 auto;
    float: left;
    text-align: center;
    /**/
    margin-top: 25px;
    /**/
  }

  .centered {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }

  .right-side a {
    float: right;
    margin: 0 auto;
    margin-top: 25px;
  }

  #badge {
    position: absolute;
    right: 40px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    font-family: sans-serif;
  }

  .button1, .button2, .button3, .button4 {
    text-align: center;
    padding-bottom: 19px;
  }

  .vertical-buttons{
    margin-top: 50px;
  }

  button {
    /*font-family: sans-serif; */
    font-family: 'Quicksand';
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 250px;
    width: 50%;
    background-color: #f5f5ef;
    border-radius: 8px;
    cursor: pointer;
  }

  button:hover{
    background-color: lightgrey;
  }

  .logoff {
    /*font-family: sans-serif; */
    font-family: 'Quicksand';
    font-size: 40px;
    text-align: center;
  }

  i {
    font-size: 70px;
    color: #362819;
  }

  i:hover{
    color: #e68a00;
  }

  a{
    color: #b34700;
  }
