body {
    margin: 0 auto;
  }

  #main-page-header {
    margin: 0 auto;
    position: relative;
    background: white;
    color: grey;
    overflow: hidden;
    font-family: sans-serif;
    padding: 20px;
  }

  .header a {
    margin: 0 auto;
    float: left;
    text-align: center;
  }

  .centered {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }

  .right-side a {
    float: right;
    margin: 0 auto;
  }

  .button1, .button2, .button3, .button4 {
    font-family: sans-serif;
    text-align: center;
    left: 50%;
  }

  button {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
  }

  .logoff {
    font-family: sans-serif;
    text-align: center;
    left: 50%;
  }