body{
    font-family: 'Quicksand';
    background-color: #FFFACD; /*lemmonchiffon*/
}
div{
    padding:10px;
    text-align: center;
}
.textbox{
    height:40px;
    font-size:22pt;
    font-family: 'Quicksand';
    flex-flow: center;
}

.submit{
    padding:5px;
    text-align: center;
}

#image{
    margin-top:75px;
    width:800px;
    height:130px;
}

label{
     font-size: 35px;
 }

 #parent {
    display: table;
    width: 100%;
 }

 #form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }

 button{
   background-color: #f5f5ef;
   border-radius: 8px;
   border: show;
   color: black;
   padding: 15px 32px;
   text-align: center;
   font-size: 22px;
   cursor: pointer;
   font-family: 'Quicksand';
 }

 button:hover{
   background-color: lightgrey;
 }
