body {
    margin: 0 auto;
    font-family: 'Quicksand';
    background-color: #FFFACD; /*lemmonchiffon*/
  }

  #to-do-list-header {
    margin: 0 auto;
    position: relative;
    background: #ffe680;
    color: grey;
    overflow: hidden;
    padding: 30px;
    padding-left: 45px;
    padding-right: 45px;
  }

  #headTitle{
    font-size: 70px;
    color: black;
  }

  .anchor{
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}

.spacer{
  width: 100%;
  height: 120px;
}

  .centered {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }

  .left-side a {
    float: left;
    margin: 0 auto;
  }

  .right-side a {
    float: right;
    margin: 0 auto;
  }

  #badge {
    position: absolute;
    right: 40px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
  }

  i {
    font-size: 70px;
    color: #362819;
  }

  i:hover{
    color: #e68a00;
  }

/* Popup for adding new tasks*/
.complete-task-popup-background{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity:1;
  position:fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  display: none;
}

.complete-task-popup-content{
  width: 175px;
  position:fixed;
  display:flex;
  height: 110px;
  background-color: white;

  opacity:1;
  display:none;
}

#complete-text{
  margin-left:25%;
  font-size:20px;
  margin-top:20px;
  margin-bottom:20px;
}

#no-button{
  margin-right:10%;
}

#yes-button{
  float:left;
  margin-left:30%;
}

  .entry{
    display: block;
    height:100px;
    margin-left:15%;
    margin-right:15%;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffd480;

  }

  .taskName{
    margin:0px;
    padding:2px;
    margin-left: 5%;
  }

  .assignerName{
    float:right;
    padding-top:10px;
    margin-right:5%;
  }

  .completeButton{
    clear:right;
    margin:0px;
    margin-right:5%;
    margin-left:45%;

  }

  button {
    background-color: #f5f5ef;
    color: black;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
  }

  button:hover{
      background-color: lightgrey;
  }
